server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/nourfmohammed1/config-repor
          default-label: main
          clone-on-start: true